@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <div>On @Model.tweetDisplay.DisplayDate()</div>
        <div>@Model.tweetDisplay.eventContent</div>
       <div id="container"></div>

    </div>

<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
    twttr.ready(function () {
        twttr.widgets.createTweet(
            '@Model.tweetDisplay.twitterStatus.IdStr',
            document.getElementById('container')
        );      
    });
    </script>